#title-club {
    font-size: 1.5rem;
    color: #192933;
    font-weight: bold;
    padding: 20px 0;
}

.title-club {
    flex: content;
}

.club-title-accordion {
    width: 100%;
}

.club-body-title1 {
    color:#192933;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding-top: 15px;
}

.club-body-title2 {
    color: #3739FE;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding-top: 10px;
}

.link {
    color:#192933;
    font-weight: bold;
    text-decoration: none;
}