@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter" !important; 
    width: 100% !important; 
    height: 100% !important; 
    font-weight: normal !important; 
    background-color: #DCDCDC !important;
}

.header{
    height: 33px;
    font-size: 0.8em;
    background-color: #3739FE;
    color: #ffffff;
    text-align: center;
    justify-content: center;   
}

.container-fluid {
    height: 120px;
    font-size: 1rem;
    font-weight: 500;
}

.main-content {
    flex: 1;
}

.navbar {
    background-color: #002E44;
    z-index: 1000;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ff3d44 !important;
}

.navbar-nav .nav-link.active {
    color: #ff161e !important;
}

.navbar-dark .navbar-toggler {
    border-color: #fff; 
}

.navbar-collapse {
    background-color: #002E44; 
    padding-left: 10px;
    padding-bottom: 10px;
}

.navbar-collapse svg {
        padding-top: 10px;
    }

.navbar .nav-link .svg {
    fill: #fff !; 
}

@media (max-width: 768px) {
    .navbar .navbar-toggler {
        background-color: #fff !important;
    }
    .navbar-collapse {
        background-color: #fff;
        border-radius: 20px;
        text-align: center;
    }
    .navbar .navbar-nav .nav-link {
        color: #002E44;
    }
    .navbar-collapse>img {
        color: #002E44;
    }
    .navbar-collapse .navbar-svg {
        fill: #002E44 !important;
    }
    .navbar-collapse svg {
        padding-top: 5px;
    }
}

.carousel-img {
    margin: 0 auto;
    width: 60%;
    height: auto;
    max-height: 500px;
}

.location-info {
    background-color: #DCDCDC;
    text-align: center;    
}

footer {
    background-color: #1e2b37;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo-oab {
    width: 300px
}

@media (max-width: 768px) {
    .logo-oab {
        width: 250px
    }
}

.no-link-style {
    text-decoration: none;  /* Remove o sublinhado */
    color: inherit;         /* Faz com que a cor do link herde a cor do texto ao redor */
}

/* CSS do Acordeão */

.accordion {
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #192933;
    cursor: pointer;
}

.accordion-header span {
    width: 100%;
    max-width: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body {
    text-align: center;
    color: #192933;
    font-size: 14px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
    padding: 0 !important;
}

.accordion-body.active {
    height: 100%;
    opacity: 1;
    /* padding: 5px 0px;
    padding: 50px 0; */
}

.arrow {
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}

.accordion-body-title {
    margin: 20px auto 0;
    background-color: #3739FE;
    width: 20%;
    color: #fff;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    .accordion-body-title{
        width: 35%;
    }
}

.accordion-body-title2 {
    color: #3739FE;
    font-weight: bold;
}

.p-body {
    display: flex;
    text-align: justify;
    justify-content: center;
}

.central-container {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

/* CSS da página Contato */

.location-title {
    font-weight: bold;
    background-color: #192933;
    color: #fff;
    padding: 5px 50px;
    border-radius: 20px;
}

.location-body {
    padding: 10px 0;
}

.location-bold {
    font-weight: bold;
}

.location-info {
    padding-top: 20px;
}

/* CSS Diretoria Executiva */

.dir-title1 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 40px;
    margin: 0;
}

.dir-body img {
    margin-bottom: 20px;
}

.dir-body .dir-body-title {
    font-size: 1rem;
    color: #192933;
    border-radius: 40px;
    font-weight: bold;
}

.dir-body {
    text-align: center;
    padding: 0 10%;
}

.dir-body p {
    line-height: 0.5rem;
    font-size: 0.85rem;
    font-weight: 400;
    margin: 0;
}

.dir-body-ano {
    font-size: 0.7rem;
    
}