@media (max-width: 768px) {
    .main-content .col-12 {
        padding: 0; 
    }

    .carousel-inner img {
        height: auto;
        max-height: 400px; 
    }
}

.logo-oab {
    width: 300px
}

@media (max-width: 768px) {
    .logo-oab {
        width: 250px
    }
}
